h1 {
    color: var(--mat-sys-primary);
}

.container {
    margin-left: 300px; /* Matches the width of .nav-bar */
    margin-top: 30px;
}

input {
    font-size: x-large !important;
}

mat-form-field {
    width: 70%;
}

mat-label {
    font-size: large !important;
}

mat-spinner {
    scale: .4;
    justify-self: left;
}

.searching, .no-products-found {
    display: flex;
    font-size: larger;
    font-weight: 300;
    align-items: center;
}

::ng-deep .mat-mdc-text-field-wrapper {
    height: 80px !important;
}
::ng-deep .mat-mdc-form-field-flex {
    padding-top: 12px;
}

.search-icon {
    opacity: .2;
    margin-bottom: 4px;
    margin-right: 5px;
    margin-left: 5px;
}

mat-icon {
    scale: 1.5;
}

.clear-btn {
    margin-right: 10px;
}