<div class="container">
    <h1>Search Product</h1>
    <mat-form-field>
        <mat-label>Product name</mat-label>
        <mat-icon class="search-icon" matPrefix>search</mat-icon>
        <input matInput [(ngModel)]="inputProductName" name="inputProductName" (ngModelChange)="searchProduct($event)">
        <button class="clear-btn" matSuffix matIconButton (click)="resetResults()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <div *ngIf="loading" class="searching">
        <mat-spinner></mat-spinner>
        <p>Searching product</p>
    </div>
    <div *ngIf="products && products.length > 0 && ! loading">
        <div *ngFor="let product of products" class="product-card">
            <app-card-product [product]="product"></app-card-product>
        </div>
    </div>
    <div *ngIf="noProductsFound && ! loading" class="no-products-found">
        <p>No products found.</p>
    </div>
</div>
