<div class="container">
<h2 *ngIf=" ! productAdded" mat-dialog-title>Add Product</h2>
	<mat-dialog-content *ngIf=" ! productAdded">

		<mat-form-field>
			<mat-label>Category</mat-label>
			<input matInput [(ngModel)]="category" name="category">
		</mat-form-field>

		<mat-form-field class="form-field-name">
			<mat-label>Name</mat-label>
			<input matInput [(ngModel)]="name" name="nam">
		</mat-form-field>

		<mat-form-field>
			<mat-label>Price</mat-label>
			<input matInput [(ngModel)]="price" name="price">
		</mat-form-field>

		<mat-form-field class="form-field-stock">
			<mat-label>Stock quantity</mat-label>
			<input 
				inputmode="numeric"
				matInput 
				[(ngModel)]="stock" 
				name="stock" 
				#stockCtrl="ngModel" 
				required 
				pattern="^[1-9]\d*$">
			<mat-error *ngIf="stockCtrl.errors?.['required']">Stock is required</mat-error>
			<mat-error *ngIf="stockCtrl.errors?.['pattern']">Stock must be a <strong>positive integer</strong></mat-error>
		</mat-form-field>


		<mat-form-field>
			<mat-label>Currency</mat-label>
			<input matInput [(ngModel)]="currency" name="currency">
		</mat-form-field>

		
	</mat-dialog-content>
	
	<div class="container-btn-add-product" *ngIf="isBtnDisabled == false">
		<mat-spinner *ngIf="loading"></mat-spinner>
		<button *ngIf=" ! loading" mat-flat-button (click)="addProduct()">{{btnTitle}}</button>
	</div>
	<mat-error *ngIf=" ! productAdded">
		<h4>{{error}}</h4>
		<p>{{errorName}}</p>
		<p>{{errorCategory}}</p>
	</mat-error>
	<div class="success" *ngIf="productAdded">
		<div class="message-product-added">
			<div class="success-uploading-image" *ngIf="success">
				<mat-icon class="check-icon" fontIcon="check"></mat-icon>
				<p>{{success}}</p>
			</div>
			<div class="error-uploading-image" *ngIf="error">
				<mat-icon class="error-icon" fontIcon="error"></mat-icon>
				<p>{{error}}</p>
			</div>
			<div class="loading-image" *ngIf="uploadingImage">
				<mat-spinner></mat-spinner>
				<p>Uploading image...</p>
			</div>
		</div>
		<div class="product-added">
			<div class="keys">
				<p>Category</p>
				<p>Name</p>
				<p>Price</p>
				<p>Currency</p>
				<p>Stock quantity</p>
			</div>
			<div class="values">
				<p>{{ product.category }}</p>
				<p>{{ product.name }}</p>
				<p>{{ product.price }}</p>
				<p>{{ product.currency }}</p>
				<p>{{ product.stock_quantity }}</p>
			</div>
		</div>
		<input
			type="file"
			accept="image/*"
			#fileInput
			hidden
			(change)="onImageSelected($event)"
		/>
		<button
			disabled="{{uploadingImage}}"
			class="btn-add-image"
			mat-flat-button
			(click)="fileInput.click()"
		>Add Image</button>
	</div>
</div>