<mat-card appearance="outlined">
  <ng-container *ngIf="product.image; else noImage">
    <img mat-card-image [src]="product.image" [alt]="product.name" />
  </ng-container>
  <ng-template #noImage>
    <img mat-card-image src="../assets/product_image_not_available.png" alt="Image not available" />
  </ng-template>

  <mat-card-content>
    <div class="category">
      {{ product.category }}
    </div>
    <mat-card-title>{{ product.name }}</mat-card-title>
    <div class="price">
      {{ product.currency }} {{ product.price }}
    </div>
    <button (click)="purchase()" [disabled]="isPurchased" mat-stroked-button>
      <p *ngIf=" ! isPurchased">Purchase</p>
      <p *ngIf="isPurchased" class="purchased">Purchased</p>
    </button>
  </mat-card-content>

</mat-card>