<mat-card appearance="outlined">
  <ng-container *ngIf="product.image; else noImage">
    <img  [src]="product.image" [alt]="product.name" />
  </ng-container>
  <ng-template #noImage>
    <img mat-card-image src="../assets/product_image_not_available.png" alt="Image not available" />
  </ng-template>

  <mat-card-content>
    <div class="category">
      {{ product.category }}
    </div>
    <mat-card-title>{{ product.name }}</mat-card-title>
    <div class="price">
      {{ product.currency }} {{ product.price }}
    </div>
    <ng-container *ngIf=" ! isBtnPurchaseDisabled">
      <button ng (click)="purchase()" [disabled]="isPurchased || loading" mat-raised-button>
        <p *ngIf=" ! isPurchased && ! loading">Purchase</p>
        <div class="purchasing" *ngIf="loading">
          <mat-spinner></mat-spinner>  
          <p>Purchasing</p>
        </div>
        <p *ngIf="isPurchased" class="purchased">Purchased</p>
      </button>
    </ng-container>
  </mat-card-content>

</mat-card>