* {
    cursor: pointer;
}

mat-card {
    border-color: var(--mat-sys-primary-fixed);
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content 3fr;
    width: 80%;
    /* height: 250px; */
    background-color: transparent;
}

mat-card:hover {
    background-color: var(--mat-sys-background);
}

mat-card-content {
    display: grid;
}

.product-details {
    padding: 20px;
}

.btn-purchase {
    margin-left: 15px;
    width: fit-content;
}

mat-card-title {
    font-weight: 100;
}

.price {
    padding-top: 10px;
    font-weight: 500;
    font-size: x-large;
}

img {
    align-self: center;
    object-fit: contain;
    border-radius: 6%;
    padding: 10px;
    height: 150px;
    width: 150px;
}

.mdc-card__media {
    border-top-right-radius: 0;
    border-bottom-left-radius: 5%;

}

.category {
    font-size: small;
    font-weight: lighter;
    margin-bottom: 10px;
}

/* mobile */

.mobile-img {
    align-self: center;
    width: 150px;
    height: 150px;
}

.mobile-mat-card .category {
    margin-top: 10px;
}

.mobile-mat-card .product-details {
    display: grid;
    height: fit-content;
    padding: 10px;
}

.mobile-mat-card {
    height: 200px;
    width: 100%;
}

.mobile-mat-card-title {
    font-size: medium;
}

.mobile-price {
    font-weight: bold;
}