* {
    cursor: pointer;
}

mat-card {
    border: none;
    border-bottom: .3px solid var(--mat-sys-primary-fixed);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content 3fr;
    background-color: transparent;
}

mat-card:hover {
    background-color: var(--mat-sys-background);
}

mat-card-content {
    padding: 0 !important;
    display: grid;
}

.product-details {
    padding: 20px;
}


.price, .mobile-price {
    padding-top: 10px;
    font-weight: lighter;
    font-size: large;
}

img {
    align-self: center;
    object-fit: contain;
    border-radius: 20%;
    padding: 10px;
    height: 150px;
    width: 150px;
}

.category {
    font-size: small;
    font-weight: lighter;
    margin-bottom: 10px;
}

.mobile-mat-card .category {
    margin-top: 20px;
}

/* mobile */

.mobile-img {
    align-self: center;
    width: 150px;
    height: 150px;
}

.mobile-mat-card .product-details {
    display: grid;
    height: fit-content;
    padding: 10px;
}

.mobile-mat-card {
    height: 200px;
    width: 100%;
}

.mobile-mat-card-title {
    font-size: large;
    padding-right: 15px;
}