mat-card {
    border-color: var(--mat-sys-primary-fixed);
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 3fr;
    width: 80%;
    background-color: transparent;
}

mat-card-content {
    padding: 20px;
}

mat-card-content button {
    margin-top: 60px;
    border-color: var(--mat-sys-primary-fixed) !important;

}

mat-card-title {
    font-weight: 100;
}

.price {
    padding-top: 10px;
    font-weight: 500;
    font-size: x-large;
}

img {
    border-radius: 6%;
    padding: 10px;
    height: 200px;
    width: 200px;
}

.mdc-card__media {
    border-top-right-radius: 0;
    border-bottom-left-radius: 5%;

}

.category {
    font-size: small;
    font-weight: lighter;
    margin-bottom: 10px;
}

.purchased {
    color: green;
    opacity: .5;
}

.purchasing {
    display: flex;
    align-items: center;
    width: 120px;
}

.purchasing mat-spinner {
    scale: .5;
    justify-self: start;
}

.purchasing p {
    margin-right: 10px;
}

