<mat-card (click)="navigateToProduct()" [ngClass]="{ 'mobile-mat-card': isMobile}" appearance="outlined">
  <ng-container *ngIf="product.image; else noImage">
    <img [ngClass]="{ 'mobile-img': isMobile}" [src]="product.image" [alt]="product.name" />
  </ng-container>
  <ng-template #noImage>
    <img [ngClass]="{ 'mobile-img': isMobile}" src="assets/product_image_not_available.png" alt="Image not available" />
  </ng-template>

  <mat-card-content>
    <div class="product-details">
      <div class="category">
        {{ product.category }}
      </div>
      <mat-card-title [ngClass]="{ 'mobile-mat-card-title': isMobile}">{{ product.name }}</mat-card-title>
      <div [ngClass]="{ 'mobile-price': isMobile, 'price': ! isMobile}">
        $ {{ product.price  | number: '1.2-2' }}
      </div>
    </div>
  </mat-card-content>
</mat-card>