.container {
    margin-left: 300px; /* Matches the width of .nav-bar */
    margin-top: 30px;
}

.mobile-purchases-container {
    margin-top: 30px;
    padding-bottom: 100px;
}

.mobile-purchases-container .date-purchase,
.mobile-purchases-container h1,
.mobile-purchases-container .loading {
    margin-left: 30px;
}

h1 {
    color: var(--mat-sys-primary);
}

.products-container {
    display: grid;
}

.date-purchase {
    width: fit-content;
    font-weight: 500;
    margin-top: 70px;
    font-size: larger;
}

.date-purchase:first-child {
    margin-top: 30px;
}

.loading {
    display: flex;
    align-items: center;
}

.loading mat-spinner {
    width: 25px !important;
    margin-right: 20px;
}