.container {
    justify-self: center;
    height: 100%;
    display: grid;
    grid-template-rows: max-content max-content;
}

.mobile-container {
  display: grid;
  align-content: start;
  height: 100%;
  background-color: var(--mat-sys-on-primary);
}

.mobile-container .left-content {
  background-color: var(--mat-sys-on-primary);
  padding-bottom: 0;
}

.mobile-container .left-content h1, .mobile-container .left-content h1 span {
  color: var(--mat-sys-primary);
  font-weight: 600;
}

.mobile-container .left-content p {
  display: none;
} 

h1 span {
  font-family: "Londrina Sketch", sans-serif;
  color: var(--mat-sys-on-primary);
  justify-self: center;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: larger;
}

.left-content {
  display: grid;
  justify-items: center;
  text-align: center;
  align-content: center;
}


.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-out;
}


.userbuy-logo {
  width: 140px;
  padding: 20px;
}

.logging-in {
  display: flex;
  align-items: center;
}

.logging-in mat-spinner {
  width: 20px !important;
}

.logging-in p {
  margin-left: 10px;
}

.container-buttons {
  margin-top: 40px;
  display: grid;
  row-gap: 20px;
  width: fit-content;
  justify-self: center;
}