<div [ngClass]="{ 'mobile-container': isMobile, 'container': !isMobile }">
  <div class="left-content">
    <!-- <img class="userbuy-logo" src="assets/userbuy.png" alt="Image not available" /> -->
  </div>
  <div class="right-content">
    <app-login-form *ngIf="isCreateUserHidden"></app-login-form>
    <app-create-account-form [disabled]="isCreateUserHidden"></app-create-account-form>
    @if (showLoginForm) {
      <button *ngIf=" ! loggingIn" class="btn-toggle" mat-button (click)="toggleForms()">I don't have an account</button>
    } @else {
      <button class="btn-toggle" mat-button (click)="toggleForms()">Go back to Login</button>
    }
  </div>
</div>
