<div class="wrapper">
  <div [ngClass]="{ 'mobile-container': isMobile, 'container': !isMobile }">
    <div class="left-content">
      <div class="welcome">
        <h1>Welcome to <span>Userbuy</span></h1>
        <p>Sign in—your next favorite product might be one click away</p>
      </div>
    </div>
    <div class="container-buttons">
      <button (click)="loginAsAdmin()" matButton="filled" [disabled]="loggingIn">
        <p *ngIf=" ! loggingIn">Login as Admin</p>
        <div *ngIf="loggingIn" class="logging-in">
          <mat-spinner></mat-spinner>
          <p>Logging as Admin</p>      
        </div>
      </button>
      <button *ngIf=" ! loggingIn" (click)="navigateToLoginWithMyAccount()" matButton="outlined">Login with my account</button>
      <button *ngIf=" ! loggingIn" (click)="navigateToCreateAccount()" matButton="text">Create account</button>
    </div>
  </div>
</div>
