.container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
}

.mobile-container .btn-toggle{
  /* height: ; */
}

.mobile-container .left-content {
  padding: 30px;
}

.mobile-container .btn-toggle {
  margin-top: 40px;
  margin-left: 0;
  position: relative;
}

h1 span {
  font-family: "Londrina Sketch", sans-serif;
  color: var(--mat-sys-on-primary);
  justify-self: center;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: larger;
}

.left-content {
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: var(--mat-sys-on-primary-container);
}

.left-content h1, .left-content p {
  color: white;
}

.left-content p {
  width: 80%;
}

.right-content {
  display: grid;
  justify-content: center;
  align-content: center;
}

app-login-form, app-create-account-form {
  grid-column-start: 1;
  grid-row-start: 1;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-out;
}

app-login-form,
app-create-account-form {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 1s ease-in-out;
}

.btn-toggle {
  position: absolute;
  bottom: 0;
  margin-bottom: 100px;
  margin-left: 85px;
}