.wrapper {
  display: grid;
  height: 100%;
}

.container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  padding: 60px;
  padding-left: 100px;
  padding-right: 100px;
}

.left-content p {
  width: 80%;
}

.mobile-container {
  align-content: center;
  padding-bottom: 100px;
}

.mobile-container .left-content {
  background-color: var(--mat-sys-on-primary);
  color: var(--mat-sys-primary);
}

.mobile-container .left-content p {
  width: 80%;
} 

.mobile-container .container-buttons {
  border: none;
}

h1 span {
  font-weight: bold;
  justify-self: center;
}

.left-content {
  display: grid;
  border-top-left-radius: 70px;
  border-bottom-left-radius: 70px;
  padding-bottom: 50px;
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
  justify-items: center;
  text-align: center;
  align-content: center;
}

.welcome {
  display: grid;
  justify-items: center;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-out;
}

.logging-in {
  display: flex;
  align-items: center;
}

.logging-in mat-spinner {
  width: 20px !important;
}

.logging-in p {
  margin-left: 10px;
}

.container-buttons {
  display: grid;
  gap: 20px;
  align-content: center;
  justify-content: center;
  width: 100%;
  justify-self: center;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--mat-sys-primary);
}

button {
  width: 200px;
}