.container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
}

.mobile-container {
  display: grid;
  align-content: start;
  margin-top: 30px;
  height: 100%;
  background-color: var(--mat-sys-on-primary);
}

.mobile-container .left-content {
  background-color: var(--mat-sys-on-primary);
  padding-bottom: 0;
}

.mobile-container .left-content h1, .mobile-container .left-content h1 span {
  color: var(--mat-sys-primary);
  font-weight: 600;
}

.mobile-container .left-content p {
  display: none;
} 

h1 span {
  font-family: "Londrina Sketch", sans-serif;
  color: var(--mat-sys-on-primary);
  justify-self: center;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: larger;
}

.left-content {
  display: grid;
  justify-items: center;
  padding-bottom: 100px;
  text-align: center;
  align-content: center;
  background-color: var(--mat-sys-on-primary-container);
}

.left-content h1, .left-content p {
  color: var(--mat-sys-on-primary);
}

.left-content h1 {
  font-size: xx-large;
  font-weight: bold;
}

.left-content p {
  font-size: large;
  font-weight: lighter;
  width: 60%;
}

.right-content {
  display: grid;
  justify-content: center;
  align-content: center;
}

app-login-form, app-create-account-form {
  grid-column-start: 1;
  grid-row-start: 1;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-out;
}

app-login-form,
app-create-account-form {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 1s ease-in-out;
}

.btn-toggle {
  margin-top: 50px;
  /* position: absolute; */
  /* bottom: 0; */
  /* margin-bottom: 100px; */
  /* margin-left: 85px; */
}