.container {
    height: 100%;
    display: grid;
    grid-auto-flow: column;
}

.left-content {
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: var(--mat-sys-on-primary-container);
}

.left-content h1, .left-content p {
  color: white;
}

.left-content p {
  width: 80%;
}

.right-content {
  display: grid;
  justify-content: center;
  align-content: center;
}

app-login-form, app-create-account-form {
  grid-column-start: 1;
  grid-row-start: 1;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-out;
}

app-login-form,
app-create-account-form {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 1s ease-in-out;
}

.btn-toggle {
  position: absolute;
  bottom: 0;
  margin-bottom: 100px;
  margin-left: 85px;
}