<div class="container">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="username" name="username">
  </mat-form-field>
  <mat-form-field>
      <mat-label>Password</mat-label>
      <input [type]="hidePassword ? 'password' : 'text'" matInput [(ngModel)]="password" name="password">
      <button matSuffix mat-icon-button aria-label="Toggle password visibility" (click)="togglePasswordVisibility()">
        <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
      </button>
  </mat-form-field>
  <button mat-flat-button (click)="login()">
  @if (! loading) {
      Login
  } @else {
      Logging in
  }        
  </button>
  @if (error) {
  <mat-error>{{error}}</mat-error>
  }        
</div>