.container {
    display: grid;
    width: 340px;
}

.mobile-container {
    display: grid;
    padding-top: 40px;
}

.mobile-container .btn-login {
    width: 170px;
    justify-self: center
}

button {
    width: fit-content;
}

mat-form-field button {
    width: auto;
}

.btn-login div {
    display: flex;
    align-items: center;
    justify-self: center;
}

.btn-login mat-spinner {
    position: absolute;
    right: 40px;
    scale: .2;
}

.p-logging-in {
    margin-left: 30px;
}

.p-login {
    padding-right: 14px;
    padding-left: 14px;
}

.mobile-container .title-login {
    text-align: center;
}

.title-login {
    font-size: x-large;
    font-weight: normal;
    color: var(--mat-sys-primary);
}