<div [ngClass]="{ 'mobile-container': isMobile, 'container': !isMobile }">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="username" name="username" autocapitalize="none" >
  </mat-form-field>
  <mat-form-field>
      <mat-label>Password</mat-label>
      <input [type]="hidePassword ? 'password' : 'text'" matInput [(ngModel)]="password" name="password" (keydown.enter)="onEnter(inputPassword)" #inputPassword>
      <button matSuffix mat-icon-button aria-label="Toggle password visibility" tabindex="-1" (click)="togglePasswordVisibility()">
        <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
      </button>
  </mat-form-field>
  <button class="btn-login" mat-flat-button (click)="login()" [disabled] = loading>
    <div *ngIf="loading">
      <mat-spinner></mat-spinner>
      <p class="p-logging-in">Logging in</p>
    </div>
    <div *ngIf=" ! loading">
      <p class="p-login">Login</p>
    </div>
  </button> 
</div>