<div [ngClass]="{ 'mobile-container': isMobile, 'container': !isMobile }">
<h2 *ngIf=" ! productAdded" mat-dialog-title>Add Product</h2>
	<mat-dialog-content *ngIf=" ! productAdded" #dialogContent >
		<mat-form-field>
			<mat-label>Category</mat-label>
			<input matInput [(ngModel)]="category" name="category">
		</mat-form-field>

		<mat-form-field>
			<mat-label>Name</mat-label>
			<input matInput [(ngModel)]="name" name="name">
		</mat-form-field>

		<mat-form-field>
			<mat-label>Price</mat-label>
			<input matInput [(ngModel)]="price" name="price">
		</mat-form-field>


		<mat-form-field (click)="fileInput.click()" (keydown.enter)="fileInput.click()">
			<mat-label>Image</mat-label>
			<input matInput readonly [value]="imageName">
			<input
				type="file"
				accept="image/*"
				#fileInput
				hidden
				(change)="onImageSelected($event)"
			/>
		</mat-form-field>
	</mat-dialog-content>
	<mat-dialog-actions *ngIf=" ! productAdded">
		<button matButton (click)="closeDialog()">Close</button>
		<button [disabled]="isBtnDisabled" matButton="filled" (click)="addProduct()">
			<p>Add Product</p>
		</button>
	</mat-dialog-actions>
</div>