<div [ngClass]="{ 'mobile-container': isMobile, 'container': !isMobile }">
<h2 *ngIf=" ! productAdded" mat-dialog-title>Add Product</h2>
	<mat-dialog-content *ngIf=" ! productAdded" #dialogContent >
		<mat-form-field>
			<mat-label>Category</mat-label>
			<input matInput [(ngModel)]="category" name="category">
		</mat-form-field>

		<mat-form-field>
			<mat-label>Name</mat-label>
			<input matInput [(ngModel)]="name" name="name">
		</mat-form-field>

		<mat-form-field>
			<mat-label>Price</mat-label>
			<input matInput [(ngModel)]="price" name="price">
		</mat-form-field>

		<mat-form-field>
			<mat-label>Stock quantity</mat-label>
			<input 
				inputmode="numeric"
				matInput 
				[(ngModel)]="stock" 
				name="stock" 
				#stockCtrl="ngModel" 
				required 
				pattern="^[1-9]\d*$">
			<mat-error *ngIf="stockCtrl.errors?.['required']">Stock is required</mat-error>
			<mat-error *ngIf="stockCtrl.errors?.['pattern']">Stock must be a <strong>positive integer</strong></mat-error>
		</mat-form-field>


		<mat-form-field (click)="fileInput.click()">
			<mat-label>Image</mat-label>
			<input matInput readonly [value]="imageName">
			<input
				type="file"
				accept="image/*"
				#fileInput
				hidden
				(change)="onImageSelected($event)"
			/>
		</mat-form-field>

		<mat-error class="container-error" *ngIf="error">
			<h4>{{error}}</h4>
			<p *ngIf="errorCategory"> <span>Category: </span>{{errorCategory}}</p>
			<p *ngIf="errorName"> <span>Name: </span> {{errorName}}</p>
		</mat-error>
		
	</mat-dialog-content>
	<mat-dialog-actions *ngIf=" ! productAdded">
		<button *ngIf=" ! loading" matButton (click)="closeDialog()">Close</button>
		<button *ngIf=" ! loading" matButton="filled" (click)="addProduct()">
			<p>Add Product</p>
		</button>
		<div class="container-adding-product">
			<div *ngIf="loading" class="adding-product">
				<mat-spinner></mat-spinner>
				<p> <span></span>Adding product</p>
			</div>
		</div>
	</mat-dialog-actions>
	<div class="success" *ngIf="productAdded">
		<div class="message-product-added">
			<div class="success-uploading-image" *ngIf="success">
				<mat-icon class="check-icon" fontIcon="check"></mat-icon>
				<p>{{success}}</p>
			</div>
			<div class="error-uploading-image" *ngIf="error">
				<mat-icon class="error-icon" fontIcon="error"></mat-icon>
				<p>{{error}}</p>
			</div>
		</div>
		<div class="product-added">
			<div class="keys">
				<p>Category</p>
				<p>Name</p>
				<p>Price</p>
				<p>Stock quantity</p>
				<p>Image</p>
			</div>
			<div class="values">
				<p>{{ product.category }}</p>
				<p>{{ product.name }}</p>
				<p>{{ product.price  | number: '1.2-2' }}</p>
				<p>{{ product.stock_quantity }}</p>
				<p>{{ product.image }}</p>
			</div>
		</div>
	</div>
</div>