<div [ngClass]="{ 'mobile-container': isMobile, 'container': !isMobile }">
<h2 *ngIf=" ! productAdded" mat-dialog-title>Add Product</h2>
	<mat-dialog-content *ngIf=" ! productAdded" #dialogContent >
		<mat-form-field>
			<mat-label>Category</mat-label>
			<input matInput [(ngModel)]="category" name="category">
		</mat-form-field>

		<mat-form-field>
			<mat-label>Name</mat-label>
			<input matInput [(ngModel)]="name" name="name">
		</mat-form-field>

		<mat-form-field>
			<mat-label>Price</mat-label>
			<input matInput [(ngModel)]="price" name="price">
		</mat-form-field>

		<mat-form-field>
			<mat-label>Stock quantity</mat-label>
			<input 
				inputmode="numeric"
				matInput 
				[(ngModel)]="stock" 
				name="stock" 
				#stockCtrl="ngModel" 
				required 
				pattern="^[1-9]\d*$">
			<mat-error *ngIf="stockCtrl.errors?.['required']">Stock is required</mat-error>
			<mat-error *ngIf="stockCtrl.errors?.['pattern']">Stock must be a <strong>positive integer</strong></mat-error>
		</mat-form-field>


		<mat-form-field (click)="fileInput.click()" (keydown.enter)="fileInput.click()">
			<mat-label>Image</mat-label>
			<input matInput readonly [value]="imageName">
			<input
				type="file"
				accept="image/*"
				#fileInput
				hidden
				(change)="onImageSelected($event)"
			/>
		</mat-form-field>
	</mat-dialog-content>
	<mat-dialog-actions *ngIf=" ! productAdded">
		<button *ngIf=" ! loading" matButton (click)="closeDialog()">Close</button>
		<button *ngIf=" ! loading" matButton="filled" (click)="addProduct()">
			<p>Add Product</p>
		</button>
		<div class="container-adding-product">
			<div *ngIf="loading" class="adding-product">
				<mat-spinner></mat-spinner>
				<p> <span></span>Adding product</p>
			</div>
		</div>
	</mat-dialog-actions>
</div>