.container {
    display: grid;
    width: 400px;
}

mat-dialog-content {
    display: grid;
}

.container-btn-add-product {
    display: grid;
    justify-self: center;
    width: 50%;
}

button div mat-spinner {
    scale: .3;
}