.container {
    margin-top: 50px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: max-content 1fr;
    margin-left: 320px;
}

.product-details {
    border-left-style: dotted;
    border-left-color: var(--mat-sys-inverse-primary);
    border-left-width: 1px;
    margin-left: 80px;
    padding: 50px;
}

.price {
    padding-top: 10px;
    display: flex;
}

.price span {
    margin-top: 6px;
    font-weight: lighter;
    font-size: medium;
    margin-right: 10px;
}

.category {
    font-weight: lighter;
}

img {
    align-self: center;
    object-position: center;
    object-fit: contain;
    border-radius: 6%;
    height: 350px;
    width: 400px;
    max-width: 500px;
}

.name {
    font-weight: bold;
    font-size: xxx-large;
}

.purchased {
    color: green;
    opacity: .5;
}

.cannot-buy {
    color: red;
    opacity: .5;
}

.purchasing {
    display: flex;
    align-items: center;
    width: 120px;
}

.purchasing mat-spinner {
    scale: .5;
    justify-self: start;
}

.purchasing p {
    margin-right: 10px;
}


.mobile-purchasing {
    display: flex;
    align-items: center;
    width: 100px;
}

.mobile-purchasing mat-spinner {
    scale: .5;
}

.btn-purchase {
    margin-top: 30px;
    width: 300px;
}

.mobile-container {
    margin-top: 10px;
    padding-bottom: 150px;
    display: grid;
}

.mobile-container .product-details {
    margin-top: 20px;
    margin-left: 30px;
    padding: 0;
    width: 80%;
    border: none;
}

.mobile-container .price {
    margin: 0;
}

.mobile-container img {
    margin-top: 50px;
    justify-self: center;
    width: 320px;
    height: fit-content;
    max-height: 420px;
}

.mobile-container .name {
    margin: 0;
    font-size: x-large;
}

.mobile-description {
    margin-top: 50px;
    margin-left: 30px;
    font-weight: lighter;
    width: 80%;
}

.mobile-description h1 {
    font-size: x-large;
}

.description {
    font-weight: lighter;
    width: 700px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.loading-page {
    margin-left: 300px;
}

.mobile-loading-page, .loading-page {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.loading-page mat-spinner, .mobile-loading-page mat-spinner {
    scale: .3;
}

.btn-more-options {
    margin-top: 10px;
    width: 300px;
}

::ng-deep .menu {
  background: var(--mat-sys-on-primary) !important;
}

::ng-deep .menu button {
    width: 250px;
    color: var(--mat-sys-primary) !important;
    background: var(--mat-sys-on-primary) !important;
}

::ng-deep .menu .btn-delete-product, ::ng-deep .menu .btn-delete-product mat-icon {
    color: var(--mat-sys-error) !important;
}

.message-product-deleted {
    font-weight: bold;
    color: var(--mat-sys-error);
    margin-top: 30px;
}