<div *ngIf="loadingPage" [ngClass]="{ 'mobile-loading-page': isMobile, 'loading-page': ! isMobile}">
    <mat-spinner></mat-spinner>
    <p>Fetching product</p>
</div>
<div *ngIf=" ! loadingPage && product" [ngClass]="{ 'mobile-container': isMobile, 'container': ! isMobile}">
    <img *ngIf="product.image; else noImage" [src]="product.image" [alt]="product.name" />
    <ng-template #noImage>
        <img src="assets/product_image_not_available.png" alt="Image not available" />
    </ng-template>
    <div class="product-details">
        <p class="category">{{ product.category }}</p>
        <h1 class="name">{{ product.name }}</h1>
        <h1 class="price"> <span>$</span>{{ product.price | number: '1.2-2'}}</h1>
        <ng-container *ngIf=" ! isBtnPurchaseDisabled">
        <button *ngIf=" ! isProductDeleted" class="btn-purchase" ng (click)="purchase()" [disabled]="isPurchased || loading || insufficientFunds || isDeleting" matButton="filled">
            <p *ngIf=" ! isPurchased && ! loading && ! insufficientFunds">Purchase</p>
            <p *ngIf="insufficientFunds && ! loading" class="cannot-buy">No Funds</p>
            <div *ngIf="loading" [ngClass]="{ 'mobile-purchasing': isMobile, 'purchasing': ! isMobile}">
            <mat-spinner></mat-spinner>  
            <p>Purchasing</p>
            </div>
            <p *ngIf="isPurchased" class="purchased">Purchased</p>
        </button>
        </ng-container>
        <button
                *ngIf=" ! isProductDeleted && isAdmin"
                [disabled]="isDeleting"
                [ngClass]="{ 'deleting': isDeleting}"
                class="btn-delete-product"
                matButton="outlined"
                (click)="deleteProduct()"
            >
                <mat-icon fontIcon="delete"></mat-icon>
                <span>Delete product</span>
            </button>
        <div *ngIf="isProductDeleted" class="message-product-deleted">
            <p>Product was deleted</p>
        </div>
    </div>
    <div *ngIf=" ! loadingPage && product.description" [ngClass]="{ 'mobile-description': isMobile, 'description': ! isMobile}">
        <h1>Description</h1>
        <p>{{ product.description }}</p>
    </div>
</div>
