.container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: max-content 1fr;
    margin-left: 320px;
}

.product-details {
    border-left-style: dotted;
    border-left-color: var(--mat-sys-inverse-primary);
    border-left-width: 1px;
    margin-left: 80px;
    padding: 50px;
}

.price {
    padding-top: 10px;
    display: flex;
}

.price span {
    margin-top: 6px;
    font-weight: lighter;
    font-size: medium;
    margin-right: 10px;
}

.category {
    font-weight: lighter;
}

img {
    align-self: center;
    object-position: left;
    object-fit: contain;
    border-radius: 6%;
    height: 400px;
    width: max-content;
    max-width: 500px;
}

.name {
    font-weight: bold;
    font-size: xxx-large;
}

.purchased {
    color: green;
    opacity: .5;
}

.cannot-buy {
    color: red;
    opacity: .5;
}

.purchasing {
    display: flex;
    align-items: center;
    width: 120px;
}

.purchasing mat-spinner {
    scale: .5;
    justify-self: start;
}

.purchasing p {
    margin-right: 10px;
}


.mobile-purchasing {
    display: flex;
    align-items: center;
    width: 100px;
}

.mobile-purchasing mat-spinner {
    scale: .5;
}

.mobile-mat-card .btn-purchase {
    margin-left: 0;
}

.btn-purchase {
    margin-top: 30px;
    width: 300px;
}

.mobile-container {
    margin-top: 10px;
    display: grid;
}

.mobile-container .product-details {
    margin-left: 30px;
    padding: 0;
    width: 80%;
    border: none;
}

.mobile-container .price {
    margin: 0;
}

.mobile-container img {
    margin-top: 20px;
    justify-self: center;
    width: 300px;
    height: 400px;
}

.mobile-container .name {
    margin: 0;
    font-size: xx-large;
}

.mobile-description {
    margin-top: 80px;
    margin-left: 30px;
    padding-bottom: 100px;
    font-weight: lighter;
    width: 80%;
}

.mobile-description h1 {
    font-size: x-large;
}

.description {
    font-weight: lighter;
    width: 700px;
    margin-top: 100px;
    padding-bottom: 100px;
    margin-left: 320px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.loading-page {
    margin-left: 300px;
}

.mobile-loading-page, .loading-page {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.loading-page mat-spinner, .mobile-loading-page mat-spinner {
    scale: .3;
}