<div class="container">
    <h2 mat-dialog-title>Deposit Money</h2>
    <mat-dialog-content>
        <mat-form-field>
            <mat-label>Deposit</mat-label>
            <input
                (keydown.enter)="onEnter(inputElement)"
                #inputElement
                type="number"
                inputmode="decimal"
                matInput
                [(ngModel)]="deposit"
                name="deposit"
                #depositCtrl="ngModel"
                required
                pattern="^\d+(\.\d+)?$"
            />
            <mat-error *ngIf="depositCtrl.errors?.['required']">
                Deposit is mandatory
            </mat-error>
            <mat-error *ngIf="depositCtrl.errors?.['pattern']">
                Deposit must be a <strong>positive number</strong>
            </mat-error>
        </mat-form-field>
    </mat-dialog-content>	
    <button [disabled]="depositCtrl.errors" mat-flat-button class="button-deposit" (click)="depositMoney()">
      <p>Deposit Money</p>
    </button>
</div>