<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="username" name="username">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="password" name="password">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Repeat password</mat-label>
      <input matInput [(ngModel)]="password" name="password">
    </mat-form-field>
    
</form>
<button class="btn-create-account" (click)="createAccount()" [disabled]="loading" mat-flat-button>
@if (! loading) {
    Create account
} @else {
    Creating account
}        
</button>
@if (error) {
<mat-error>{{error}}</mat-error>
}        