.desktop-container {
    margin-left: 300px; /* Matches the width of .nav-bar */
    margin-top: 30px;
}

.mobile-container {
    margin-top: 30px;
}

.mobile-container h1 {
    margin-left: 30px;
}

.products-container {
    margin-top: 40px;
    display: grid;
    gap: 0px;
}

.mobile-products-container {
    padding-bottom: 150px;
}

h1 {
    color: var(--mat-sys-primary);
}

app-card-product {
    margin: 0; /* Remove bottom margin for consistency */
    display: block; /* Ensure it behaves as a block-level element */
}

.purchases {
    display: flex;
    height: max-content;
    align-content: center;
}

.purchases mat-icon {
    align-self: center;
    margin-right: 15px;
}

button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
}

.mobile-btn-add-product {
    margin-bottom: 80px;
    z-index: 1;
}

.mobile-btn-add-product p {
    display: none;
}

.mobile-btn-add-product mat-icon {
    margin-right: 0;
    padding-left: 5px;
    /* margin-left: 1px; */
}