.container {
    margin-left: 300px; /* Matches the width of .nav-bar */
    margin-top: 30px;
}

.products-container {
    margin-top: 40px;
    display: grid;
    gap: 0px;
}

h1 {
    color: var(--mat-sys-primary);
}

app-card-product {
    margin: 0; /* Remove bottom margin for consistency */
    display: block; /* Ensure it behaves as a block-level element */
}

.purchases {
    display: flex;
    height: max-content;
    align-content: center;
}

.purchases mat-icon {
    align-self: center;
    margin-right: 15px;
}
