<div [ngClass]="{ 'mobile-container': isMobile, 'desktop-container': !isMobile }">
    <h1>Products</h1>
    @if (loading) {
        <div>Loading...</div>
    }
    <div class="products-container">
        @if (products) {
        
            @for (product of products; track product.name) {
                <app-card-product [product] = product></app-card-product>
            }   
        }

    </div>
</div>
<button *ngIf="isAdmin" [ngClass]="{ 'mobile-btn-add-product': isMobile }" mat-fab extended (click)="openDialog()">
    <mat-icon>add</mat-icon>
    <p>Add product</p>
</button>