<div class="nav-bar">
    <button
      class="btn-nav-bar"
      [class.selected]="selectedButton === 'products'"
      (click)="selectButton('products')"
      mat-button
    >
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="local_mall"></mat-icon>
      <p>Products</p>
    </button>
    <button
      class="btn-nav-bar"
      [class.selected]="selectedButton === 'purchases'"
      (click)="navigateToPurchases()"
      mat-button
    >
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="shopping_cart"></mat-icon>
      <p>My purchases</p>
    </button>
    <button
      class="btn-nav-bar-logout"
      [class.selected]="selectedButton === 'logout'"
      (click)="selectButton('logout')"
      mat-button
    >
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="logout"></mat-icon>
      <p>Logout</p>
    </button>
  </div>
  