.nav-bar {
    display: grid;
    grid-auto-rows: max-content auto;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 170px;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    color: var(--mat-sys-on-primary-container);
}

.btn-nav-bar {
    margin-bottom: 10px;
}

.btn-nav-bar-logout {
    margin-bottom: 40px;
    align-self: end;
}

.selected {
    background-color: var(--mat-sys-primary-fixed);
}