<div class="nav-bar">
    <button
      class="btn-nav-bar"
      [class.selected]="selectedButton === 'home'"
      (click)="navigateToHome()"
      mat-flat-button
    >
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="local_mall"></mat-icon>
      <p>Products</p>
    </button>
    <button
      class="btn-nav-bar"
      [class.selected]="selectedButton === 'purchases'"
      (click)="navigateToPurchases()"
      mat-flat-button
    >
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="shopping_cart"></mat-icon>
      <p>My purchases</p>
    </button>
    <button
      class="btn-nav-bar"
      [class.selected]="selectedButton === 'wallet'"
      (click)="navigateToWallet()"
      mat-flat-button
    >
      <mat-icon fontIcon="wallet"></mat-icon>
      <p>My Wallet</p>
    </button>
    <button
      class="btn-nav-bar-logout"
      [class.selected]="selectedButton === 'logout'"
      (click)="logout()"
      mat-flat-button
    >
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="logout"></mat-icon>
      <p>Logout</p>
    </button>
  </div>
  