<form [ngClass]="{ 'mobile-container': isMobile, 'container': !isMobile }">
  <h1 class="title-create-account">Create account</h1>
  <mat-form-field class="example-full-width">
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="username" name="username" autocapitalize="none" autocomplete="username">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input [type]="hidePassword ? 'password' : 'text'" matInput [(ngModel)]="password" name="password" autocomplete="new-password">
    <button matSuffix mat-icon-button aria-label="Toggle password visibility" tabindex="-1" (click)="togglePasswordVisibility()">
      <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Repeat password</mat-label>
    <input [type]="hidePassword ? 'password' : 'text'" matInput [(ngModel)]="repeat_password" name="repeat_password" (keydown.enter)="onEnter(inputRepeatPassword)" autocomplete="current-password" #inputRepeatPassword>
    <button matSuffix mat-icon-button aria-label="Toggle password visibility" tabindex="-1" (click)="togglePasswordVisibility()">
      <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
    </button>
  </mat-form-field>
  
  <button class="btn-create-account" disabled="{{loading}}" (click)="createAccount()" mat-flat-button>
    <p *ngIf=" ! loading">Create account</p>
    <div *ngIf="loading">
      <mat-spinner></mat-spinner>
      <p class="p-creating-account">Creating account</p>
    </div>
  </button>
</form>
