<div [ngClass]="{ 'mobile-container': isMobile, 'container': !isMobile }" [class.display-none]="disabled">
  <mat-form-field class="example-full-width">
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="username" name="username" autocapitalize="none">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input [type]="hidePassword ? 'password' : 'text'" matInput [(ngModel)]="password" name="password">
    <button matSuffix mat-icon-button aria-label="Toggle password visibility" tabindex="-1" (click)="togglePasswordVisibility()">
      <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Repeat password</mat-label>
    <input [type]="hidePassword ? 'password' : 'text'" matInput [(ngModel)]="repeat_password" name="repeat_password">
    <button matSuffix mat-icon-button aria-label="Toggle password visibility" tabindex="-1" (click)="togglePasswordVisibility()">
      <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
    </button>
  </mat-form-field>
  
  <button class="btn-create-account" (click)="createAccount()" mat-flat-button>
  @if (! loading) {
      Create account
  } @else {
      Creating account
  }        
  </button>
  @if (error) {
  <mat-error>{{error}}</mat-error>
  }        
</div>
