.container {
    display: grid;
    width: 400px;
    margin-right: 90px;
}

.mobile-container {
    display: grid;
    padding-top: 40px;
}

.mobile-container .btn-create-account {
    width: 200px;
    justify-self: center;
}

button {
    width: 40%;
}

mat-form-field button {
    width: auto;
}

.display-none {
    display: none;
}