.container {
    display: grid;
    width: 340px;
}

.mobile-container {
    display: grid;
    padding-top: 40px;
}

.mobile-container .btn-create-account {
    width: 200px;
    justify-self: center;
}

button {
    width: fit-content;
}

mat-form-field button {
    width: auto;
}

.display-none {
    display: none;
}

.btn-create-account mat-spinner {
    position: absolute;
    right: 80px;
    scale: .2;
}

.btn-create-account div {
    display: flex;
    align-items: center;
}

.p-creating-account {
    margin-left: 30px;
}

.mobile-container .title-create-account {
    text-align: center;
}

.title-create-account {
    color: var(--mat-sys-primary);
    font-weight: normal;
}