.container {    
    margin-top: 30px;
}

.mobile-container {
    margin-top: 30px;
}

.title {
    margin-left: 300px;
    color: var(--mat-sys-primary);
}

.loading {
    margin-left: 300px;
    display: flex;
    align-items: center;
}

.mobile-container .loading {
    margin-left: 30px;
}

.loading mat-spinner {
    scale: .3;
}

.mobile-container{
    margin-left: 0;
}

.mobile-container .title {
    margin-left: 30px;
}

.mobile-container .wallet {
    margin-left: 0;
    margin: auto;
    width: 300px;
    padding: 20px;
    padding-bottom: 0;
}

.mobile-container .wallet button {
    width: 50%;
    font-size: small;
}

.wallet {
    margin-left: 280px;
    display: grid;
    padding: 20px;
    padding-bottom: 10px;
    width: 380px;
    height: 150px;
}

.wallet h1 {
    margin-top: 0;
}

button {
   width: 46%;
}

.updating-deposit {
    margin-left: 300px;
    display: flex;
    align-items: center;
}

.mobile-container .updating-deposit {
    margin-left: 30px;
}


.updating-deposit p {
    font-size: medium;
}

.updating-deposit mat-spinner {
    stroke: red !important;
    scale: .3;
}

.balances .dollar-sign {
    font-size: xx-large;
    align-self: center;
    font-weight: lighter;
    margin-right: 25px;
}

.balances {
    display: flex;
    font-weight: 500;
    font-size: 60px;
}

.balances .integer {
    margin-right: 0;
}

.balances .decimal {
    font-weight: lighter;
}

.mobile-container .balances {
    overflow: scroll;
    font-size: 44px;
}

.mobile-container .balances .dollar-sign {
    margin-right: 15px;
    font-size: x-large;
    margin-bottom: 15px;
}