.container {
    margin-left: 300px; /* Matches the width of .nav-bar */
    margin-top: 30px;
}

.mobile-container {
    margin-top: 30px;
    margin-left: 30px;
}

.mobile-container h1 {
}

.title {
    color: var(--mat-sys-primary);
}

.balances span {
    align-self: top;
    margin-top: 10px;
    margin-right: 20px;
    font-size: x-large;
    /* font-weight: 100; */
}

.balances {
    display: flex;
    font-weight: 500;
    font-size: xxx-large;
}