<div [ngClass]="{ 'mobile-container': isMobile, 'desktop-container': !isMobile }">
    <h1>Add New Product</h1>
    <form class="form-add-product" #productForm="ngForm">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input
                matInput
                [(ngModel)]="name"
                name="name"
                required
                #nameInput="ngModel"
            />
            <mat-error *ngIf="nameInput.invalid && nameInput.touched">
                Name is required
            </mat-error>
            </mat-form-field>

            <mat-form-field>
            <mat-label>Price</mat-label>
            <input
                matInput
                type="number"
                [(ngModel)]="price"
                name="price"
                required
                #priceInput="ngModel"
            />
            <mat-error *ngIf="priceInput.invalid && priceInput.touched">
                Price is required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="description">
            <mat-label>Description</mat-label>
            <textarea             
                [(ngModel)]="description"
                name="description"
                matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="2"
                cdkAutosizeMaxRows="6" 
                placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
        <mat-form-field (click)="fileInput.click()" (keydown.enter)="fileInput.click()">
			<mat-label>Image</mat-label>
			<input matInput readonly [value]="imageName">
			<input
				type="file"
				accept="image/*"
				#fileInput
				hidden
				(change)="onImageSelected($event)"
			/>
		</mat-form-field>
    </form>
    <!-- <div  class="image-preview-wrapper"> -->
        <div *ngIf="previewUrl" class="image-container">
            <img [src]="previewUrl" alt="Image Preview" />
            <div class="hover-overlay"></div>
        </div>
    <!-- </div> -->
    <button 
        (click)="addProduct()" 
        [disabled]="isBtnDisabled"
        matButton="filled"
        class="btn-add-product" 
        matButton="filled">
            <p>Add Product</p>
    </button>
    <!-- <button [disabled]="isBtnDisabled" matButton="filled" (click)="addProduct()">
        <p>Add Product</p>
    </button> -->
</div>
