.desktop-container {
    margin-top: 30px;
    margin-left: 300px;
    grid-template-columns: 1fr 1fr;
}

.mobile-container {
  margin-top: 30px;
  margin-left: 30px;
}

.mobile-container .image-container img {
  object-fit: contain;
  object-position: top;
  width: 200px;
  max-height: 300px;
}

.desktop-container img {
  object-position: left;
}

.mobile-container .description {
  width: 75vw;
}

.mobile-container .btn-add-product {
  margin-top: 30px;
  margin-bottom: 100px;
  width: 75vw;
}

.form-add-product {
    margin-top: 60px;
    display: grid;
    width: max-content;
}

h1 {
    color: var(--mat-sys-primary);
}

.image-preview-wrapper {
  display: grid;
  width: fit-content;
  margin-top: 20px;
  height: fit-content;
}

.image-container {
  position: relative;
  right: 0;
  display: inline-block;
  overflow: hidden;
}

.desktop-container .image-container img {
  display: block;
  width: 470px;
  height: 370px;
  object-fit: contain;
  transition: opacity 0.3s ease;
}

.desktop-container .image-container {
  position: relative;
  left: 550px;
  bottom: 400px;
}

.description {
    height: 150px;
    width: 500px;
}

.desktop-container .btn-add-product {
    width: 200px;
    margin-top: 20px;
    left: 300px;
    position: absolute;
}