<div [ngClass]="{ 'mobile-nav-bar': isMobile}" class="nav-bar">
    <h1>UserBuy</h1>
    <div class="buttons">
      <button
      [ngClass]="{ 'mobile-btn-nav-bar': isMobile, 'btn-nav-nar': ! isMobile}"
      [class.selected]="selectedButton === 'home'"
      (click)="navigateToHome()"
      mat-flat-button
    >
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="local_mall"></mat-icon>
      <p>Products</p>
    </button>
    <button
        [ngClass]="{ 'mobile-btn-nav-bar': isMobile, 'btn-nav-nar': ! isMobile}"
        [class.selected]="selectedButton === 'add_product'"
        (click)="navigateToAddProduct()"
        mat-flat-button
      >
      <mat-icon fontIcon="add"></mat-icon>
      <p>Add Product</p>
    </button>
    <button
      [ngClass]="{ 'mobile-btn-nav-bar': isMobile, 'btn-nav-nar': ! isMobile}"
      [class.selected]="selectedButton === 'search'"
      (click)="navigateToSearch()"
      mat-flat-button
    >
      <mat-icon fontIcon="search"></mat-icon>
      <p>Search</p>
    </button>
    <button
      [ngClass]="{ 'mobile-btn-nav-bar': isMobile, 'btn-nav-nar': ! isMobile}"
      [class.selected]="selectedButton === 'purchases'"
      (click)="navigateToPurchases()"
      mat-flat-button
    >
      <mat-icon fontIcon="shopping_cart"></mat-icon>
      <p>My purchases</p>
    </button>
    <button
      [ngClass]="{ 'mobile-btn-nav-bar': isMobile, 'btn-nav-nar': ! isMobile}"
      [class.selected]="selectedButton === 'wallet'"
      (click)="navigateToWallet()"
      mat-flat-button
    >
      <mat-icon fontIcon="wallet"></mat-icon>
      <p>My Wallet</p>
    </button>
    <button
      *ngIf=" ! isMobile"
      [ngClass]="{ 'mobile-btn-nav-bar': isMobile, 'btn-nav-bar-logout': ! isMobile}"
      [class.selected]="selectedButton === 'logout'"
      (click)="logout()"
      mat-flat-button
    >
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="logout"></mat-icon>
      <p>Logout</p>
    </button>
    <button
      *ngIf="isMobile"
      mat-flat-button 
      [matMenuTriggerFor]="menu"
      [ngClass]="{ 'mobile-btn-nav-bar': isMobile, 'btn-nav-nar': ! isMobile}"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="customize">
      <button
        mat-menu-item
        [class.selected]="selectedButton === 'logout'"
        (click)="logout()"
      >
        <mat-icon fontIcon="logout"></mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
    </div>
    
      
  </div>
  