.nav-bar {
    display: grid;
    grid-auto-rows: max-content max-content;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    background-color: var(--mat-sys-primary);
    padding-top: 30px;
}

.buttons {
    display: grid;
    justify-items: left;
    gap: 10px;
    margin-top: 40px;
}

.mobile-nav-bar {
    position: fixed;
    height: fit-content;
    padding: 10px !important;
    top: auto;
    bottom: 0;
    z-index: 2;
    width: 100%;
    justify-content: center;
}

.mobile-nav-bar .buttons {
    width: fit-content;
    grid-auto-flow: column;
    margin-top: 0;
    align-self: center;
    gap: 0;
}

.mobile-nav-bar .buttons button {
    padding: 0 !important;
}

.mobile-btn-nav-bar mat-icon {
    scale: 1.2 !important;
    margin-right: 0;
    padding-left: 5px;
}

.mobile-nav-bar h1 {
    display: none;
}

h1 {
    font-size: x-large;
    color: var(--mat-sys-on-primary);
    justify-self: center;
    margin-top: 5px;
}

button {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.mobile-btn-nav-bar p {
    display: none;
}

.mobile-btn-nav-bar .mat-mdc-button-touch-target {
    margin-left: 20px !important;
}

.selected {
    background-color: var(--mat-sys-on-primary-fixed) !important;
}

::ng-deep .customize {
    margin-bottom: 60px;
    position: fixed;
    bottom: 1px;
    right: 1px;
    background: var(--mat-sys-primary) !important;
}

::ng-deep .customize button {
    color: var(--mat-sys-on-primary) !important;
    background: var(--mat-sys-primary) !important;
}

::ng-deep .customize mat-icon {
    color: var(--mat-sys-on-primary) !important;
}