jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22.16.0'

      - name: Install Dependencies
        run: npm install

      - name: Install Angular CLI
        run: npm install -g @angular/cli

      - name: Build Project
        run: ng build --configuration=production --base-href "https://pedrochatelain.github.io/frontend_userbuy/"

      - name: Deploy to GitHub Pages
        run: npx ngh --dir=dist/frontend_userbuy/browser
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
