.container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content;
}

.adding-product {
    display: grid;
    grid-auto-flow: column;
    align-content: center;
}

.adding-product p {
    justify-self: start;
    width: 100px;
    margin-left: 20px;
}

.adding-product mat-spinner {
    height: 25px !important;
    width: 25px !important;
}

.error-icon, .success-icon {
    align-self: center;
    scale: 1.2;
}

.error-icon {
    color: red;
}

.success-icon {
    color: green;
}

p {
    font-weight: lighter;
    align-self: center;
    margin: 0;
    margin-left: 14px;
    margin-right: 10px;
}

button {
    align-self: center;
    justify-self: end;
    color: var(--mat-sys-on-primary) !important;
}