.container {
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    height: 30px;
    z-index: 3;
}

.error-icon, .success-icon {
    padding: 3px;
    align-self: center;
    scale: 1.2;
}

.error-icon {
    color: red;
}

.success-icon {
    color: green;
}

p {
    margin-bottom: 13px;
}

button {
    align-self: center;
    justify-self: end;
    color: var(--mat-sys-on-primary) !important;
}